@use 'mixins' as *;

.movies{
    &__container{
        @extend .container;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 20px;
    }
}